[2020-10-09 16:08] jcalcada opened #1 "Add "team" support"
Hi Martin, was working with a customer yesterday and I pointed this to them. They who would like to use "users" with "teams" to be able to join those table. I imagine it's not trivial due to the different objects but it would be great to have it as other customers would also like to be able to have a user list with the teams they belong to.

[2020-10-09 16:13] martindstone commented on #1
Hi Joe,

Team names can be shown by adding the -x option to the command. Is there additional team jnformation they would like to see?

[2020-10-09 18:05] jcalcada commented on #1
Oh cool. Maybe that will work for Arlington.

Thanks for the quick reply

Joe Calcada.  416-605-7690.
Sent via iPhone.

[2020-12-06 22:24] facundofc opened #6 "--me flag not working"
Hello there! I've noticed that the `--me` option to the `incident:list` doesn't work, giving me the following error:

[code]

I tried with `rest:get --endpoint users/me`, and it works perfectly returning my own user.

I've poken trough the code and I see there's a function `isBearerToken()` which checks if the token is 64 characters long. Mine is 20, which according to the code it renders it a leg

[2020-12-06 22:36] martindstone commented on #6
Hi Facundo! So /users/me does work for bearer tokens obtained through pd oauth, and doesn’t work for what I call legacy domain tokens (provisioned by administrators under API Access...) but now it occurs to me that there’s a third type of token that’s provisioned in your individual PD User settings, that looks like a legacy token but may work with /users/me (although the Authorization: header gets

[2020-12-07 09:39] facundofc commented on #6
Hi Martin! Thanks for the speedy reply.

Indeed the token I got from my user settings, much like what's described
here
<https://support.pagerduty.com/docs/generating-api-keys#section-generating-a-personal-rest-api-key>.
Let me know if this is enough to determine the token's type.

Cheers.

El dom, 6 dic 2020 a las 23:36, martindstone (<notifications@github.com>)
escribió:

[2020-12-07 16:01] martindstone commented on #6
Hi Facundo, this should be fixed with 0.0.43, just published. If you're using a user legacy API token, the `--me` option should now work with all the `incident:*` commands. Please reopen if you see anything bad... Thanks!

[2020-12-07 16:01] #6 closed

[2020-12-08 13:40] facundofc commented on #6
Works perfect! Thanks!

[2021-01-13 17:05] jcalcada opened #7 "Installation"
Hi Martin,

Just a reminder that you may want to change the Install instructions to
sh -c "$(curl -sL http://www.pdtl.ink/pdcli)"

[2021-01-15 16:39] martindstone commented on #7
Thanks Joe, all done!

[2021-01-15 16:39] #7 closed

[2021-01-15 16:41] martindstone commented on #1
You can now show any additional fields you like using JSONPath expressions as arguments to the `-k` flag, for example:

[code]

[2021-01-15 16:41] #1 closed

[2021-03-25 21:54] maxchen-000 opened #8 "pd team:user:list only shows the first 25 users of the team instead of all"
for some reason "pd team:user:list: command only shows the first 25 users of the team instead of all users of that team

[2021-03-26 19:26] martindstone commented on #8
Hi, thanks for reporting this! It looks like this is a bug with the endpoint, it is not filling in the total element for proper pagination. I've raised this with our product team and hope to have a resolution or a workaround soon. Thanks...

[2021-03-29 13:20] martindstone commented on #8
Hi again, I have just pushed a version that has a workaround for this problem. It will just send requests in series rather than in parallel if the `total` element is missing. When the endpoint gets fixed, the command will just get slightly faster :)

Please update to version 0.0.69 and let me know if this is resolved for you. Thanks!

[2021-03-29 14:29] maxchen-000 commented on #8
Yes, it's working now with version 0.0.69. Thanks

[2021-03-29 14:35] martindstone commented on #8
Great! I will close this issue now. Thanks again for reporting it.

[2021-03-29 14:35] #8 closed

[2021-08-12 13:03] georgettica opened #9 "when installing the latest version (0.0.70) the installation complains on `deprecated axios@0.20.0`"
migration to the new version will assist in making this repo less scary to install

[code]

[2021-08-12 20:03] akarande-sfdc opened #10 "Allow email based lookup [exact match]"
More of a feature request than an issue. Can email based lookup be added that matches the email exactly. Currently the command `pd user:list -e e.doe@mycompany.com -p` will match users that will have emails such as
`ellie.doe@mycompany.com, jose.doe@mycompany.com, jamie.doe@mycompany.com`. If an exact match option can be specified, then only the person with `e.doe@mycompany.com` will be picked.

T

[2021-08-16 08:24] georgettica commented on #10
this matching also matches on username, so maybe the name is more unique?

[2021-08-16 18:17] akarande-sfdc commented on #10
@georgettica you mean the first and last name? I think the names can have collisions. I think PagerDuty has a login email that is unique.

[2021-08-17 18:04] martindstone commented on #10
@akarande-sfdc yeah, names don't have to be unique, but login email does. The default PD query parameter does substring match, but I could do some additional filtering when the results come back, how about I make the flag for exact match email be `-E`? Sounds ok?

[2021-08-17 18:13] akarande-sfdc commented on #10
That will be wonderful. All this while I was querying [Id and Email] and then filtering it based on the exact Id I wanted. But if you add the support with an extra parameter it will be very helpful. Thank you again for your work. This is very helpful.

[2021-08-17 20:51] martindstone commented on #10
Hi @akarande-sfdc , I added `-E` to user:list, user:log and user:set in version 0.0.71, just published; I am going to close this issue but please reopen if it doesn't suit your needs... Thanks!

[2021-08-17 20:51] #10 closed

[2021-08-17 20:52] martindstone commented on #9
Hi @georgettica , I updated axios to v0.21 in version v0.0.71, just published... I am going to close this issue but please reopen if you see any problems... Thanks!

[2021-08-17 20:52] #9 closed

[2021-08-17 22:54] akarande-sfdc commented on #10
@martindstone this is great. I just tested it out, works perfectly. Thank you so much for addressing this.

[2021-08-20 10:02] georgettica opened #11 "feat(merge) add merge incident functionality"
As seem here
https://github.com/openshift/ocm-container/blob/190235bfb9247bbbf137de2dc2e880d7633ff560/utils/bin/chgm#L120
The cli doesn't provide as of now the merge functionality

This feat is great in case incidents need to manually be merged for whatever reason

If this needs community PR, please note it and I will learn some JS and assemble a PR

[2021-08-25 10:44] georgettica opened #12 "feat(service-directory): make `service` queries faster"
in the UI, when searching for
[code]
a result comes back fairly quickly

in contrast to
[code]

can the API for service-directory be added to the core api?

[2021-09-13 21:27] notjames opened #13 "incident:list fails to show all incidents regardless of qualifier arguments"
First off, this tool is by far the best of any PD client I've used. So kudos!

Today, I needed to grab a list of all incidents I owned since a certain date (about 7 days ago). The problem is that I get the same output regardless of the permutation of arguments and I know we had far more than a few incidents as seen below even given the arguments. I suspect there might be something wrong with how o

[2021-09-13 21:33] notjames opened #14 "Another issue with `--me` -- failing"
The following commands:
[code]

errorred with the following errors:
[code]

For grins and giggles, I tried adding `user: <user.name>` in the `$HOME/.pagerduty/credentials` file but that didn't fix anything.

[2021-09-20 14:23] martindstone commented on #13
Hi @notjames , thanks for reporting this. I think there may be a bug in PD CLI in here somewhere, but one thing that I should make more clear about the way that PD works is that incidents that are not open are not considered to have any assignees, which means that neither `--me` nor `-e` will ever show any resolved incidents -- so `-s closed --me` and `-s closed -e someone` will always return an e

[2021-09-20 14:37] martindstone commented on #12
Hi @georgettica , thanks for reporting this. I too would like the `/service-directory` endpoint to be publicly available, but I don't have any insight into when that might happen. I try to constrain PD CLI to only use publicly available documented endpoints for the named commands. That said, if you wanted to speed up that specific search that you're doing, I recommend you use the `-n` flag to `ser

[2021-09-20 14:39] martindstone commented on #11
Hi @georgettica , thanks for reporting this. I agree that this would be a great addition to the CLI. I will get to work on it as soon as I have a chance.

Thanks!

[2021-09-20 15:15] georgettica commented on #12
I'll try and use these flags, thanks!

[2021-09-20 15:23] martindstone commented on #12
Thanks... please let me know how that goes, I am always looking to improve the cli...

[2021-09-21 13:00] georgettica commented on #12
I found the -n to improve the cli and will create another issue to track a possible change that is required in the `--filter` command (which is not under your direct control but should be noted)

[2021-09-21 13:03] georgettica opened #15 "BLOCKED(filter): bump oclif/cli-ux once the related issue is fixed"
see https://github.com/oclif/cli-ux/issues/414

the issue I was facing was negating the search, as `!=` is not a valid operator in the `--filter` command

the solution would be noting these flags are derrived from there and waiting for the maintainer there to bump the docs to reflect how the filter query language can be used

[2021-09-23 16:07] notjames commented on #14
I'll check into that and see about updating my token and then test. I'll let you know how that goes.

[2021-09-23 16:11] notjames commented on #13
I'll do some testing without the `-e` and with `--since` and `--until` to see if I get expected results. I'll let you know what my results are.

[2021-09-24 15:50] ajohnson-pdt opened #16 "Can we add pipe ability to rest:delete?"
Not able to pass a piped list of services to rest:delete. This would be very helpful in cleaning up large swaths of unused services with similar names.

tried: `pd service:list --filter name={query string} -p | pd rest:delete -e /services -p`

[2021-09-28 20:54] martindstone commented on #16
So the reason I have not done this (as well as the reason there are no other `*:delete` commands) is because I am terrified of the consequences of making a mistake. I am open to ideas here, but a `-p` flag to a delete command gives me some serious anxiety...

[2021-09-28 21:51] ajohnson-pdt commented on #16
Possible to have a preview of the delete (or summary) and "ARE YOU ABSOLUTELY SURE?"

[2021-09-28 22:00] notjames commented on #14
I generated a new API token from the API section of the pagerduty site. I placed the token in my `$HOME/.pagerduty/credentials` file. Perhaps I'm generated the wrong API token. However, when testing I get:
[code]

[2021-09-28 22:07] martindstone commented on #14
Yes... Sorry for not mentioning... that kind of token is a legacy domain wide token that does not have a user associated with it... to use OAuth, you can do `pd login` which will make the cli open up the browser to authenticate you, or if you're using the cli on a remote system you can get a token from [my token-giver](https://martindstone.github.io/PDOAuth/) and then give it to the cli using `pd

[2021-09-28 22:12] martindstone commented on #16
Hmm... I could see doing that in a `service:delete` command... I am still a little scared to do it... maybe if you have to type something more than just `y`...

[2021-09-28 22:16] ajohnson-pdt commented on #16
Full admission of wrongdoing, please provide your Venmo account for all liability damages. 😛

[2021-09-28 22:21] notjames commented on #13
OK, I've confirmed that using `-e` definitely causes the empty-set problems for me. As for `--since` without `--until`, I don't think it's necessary to require both, but it would be nice that whatever the API asserts in the absence of one or the other is at least documented. It seems to me that the time frame asserted is from 0000 HRS Zulu, though I could be wrong on the TZ.

[2021-09-29 00:04] notjames commented on #14
I authenticated using `pd login` on two different systems (one mac and one Linux). Both successfully authed. However, when attempting to use `--me` after authenticating. This time I don't get an error, so that's cool. Before I ran `pd login` I mv'ed my `$HOME/.pagerduty/credentials` file assuming a new one would be created. That's not the case, so I'm assuming that the oauth token is stored in my

[2021-09-29 13:31] martindstone commented on #13
OK so I should definitely document this or give some online help for this, but the way PD works is that an incident that is in a resolved state doesn't have anyone currently assigned -- and `--me` and `-e` search incidents currently assigned to a user. So anything with only `-s closed` or `-s resolved` plus `-e` or `-m` will always return empty. This should probably be handled by flags validation,

[2021-09-29 14:29] #12 closed

[2021-09-29 17:18] martindstone commented on #14
Hey @notjames I sort of mentioned this in #13 as well, but the way PD works is that resolved incidents will never have an assignee, because they aren't considered to be assigned to anyone -- and "currently assigned to" is what the `-e` and `--me` flags are looking for. If you want to know who was assigned to an incident before it was resolved, you have to go into the incident timeline (`pd inciden

[2021-09-29 20:12] martindstone commented on #11
Hi @georgettica , I just published 0.0.72, which has `incident:merge` now... let me know if it's what you expected...

[2021-09-29 20:22] martindstone commented on #13
So in 0.0.72, I added an explicit message letting you know when the combination of `-s` and `-e`/`-m` makes it so that you will never get anything back...

[2021-09-30 00:57] notjames commented on #14
Ah! That's right!  I apologize that I didn't follow that thread as closely.

So it's kind of a pain but I know now so that's fine. Seems confusing why pd did that...

At any rate, thank you!

[2021-10-03 13:52] georgettica commented on #11
this was tested and works as expected. removed manual rest command

[2021-10-03 13:56] martindstone commented on #11
Thanks @georgettica ... I will close this now...

[2021-10-03 13:56] #11 closed

[2021-10-15 12:58] martindstone commented on #14
Thanks @notjames ! I am going to go ahead and close this one and the other one, because I can't think of anything else we can do... Please do reopen if there's anything else...

[2021-10-15 12:58] #14 closed

[2021-10-15 12:59] martindstone commented on #13
Hi @notjames , I am going to close this now as it looks like there's nothing more that we can do currently. Let me know if there's anything else...

[2021-10-15 12:59] #13 closed

[2021-10-18 09:02] georgettica opened #17 "fix(incident:open): when no xdg-open exists, show the url"
I am using pdcli in a container the doesn't have xdg-open

I would like it to fail on "cannot access url <URLNAME>" so I can copy it from there and continue but I get (also with --debug)

[code]

[2021-10-19 12:34] georgettica opened #18 "`incident:assign -u` doesn't work as expected"
when looking at `pd incident:assign -h` you can clearly see two actions using the `-u` flag.

this stumped me for a while as I thought the userid I was providing was incorrect.

[code]

maybe just remove the `-u` from the `userauth`? not sure how widely this is used

[2021-10-22 18:23] sarman-tftsr opened #19 "API token not being accepted"
Using PagerDuty-cli I am unable to run any successful commands after authentication.
Here you can see where I DID authenticate:
`
bash-5.0$ pd login
Checking token 63cfdeaf27dba22df31fb3aeea4abcba6ce81ceac51d2f51d22154b9996ca5e4... done
Domain added - you are logged in to ecws as shaun.arman@motorolasolutions.com
`
Next, when trying any pd command, I get the following error:
`
bash-5.0$ pd inciden

[2021-10-28 15:10] #19 closed, assigned to martindstone

[2021-10-28 15:12] #18 closed, assigned to martindstone

[2021-10-28 19:40] #17 closed, assigned to martindstone

[2021-10-28 21:52] jdstone opened #20 "New lines in incident details when creating a new incident"
New lines using `\n` don't seem to be accepted when creating a new incident.  However, it works when using the CURL command.  Is this the expected outcome?  Or should new lines work within pagerduty-cli?

[code]

I was successfully able to create new lines in the incident details when using the CURL command:
[code]

[2021-10-29 13:23] #20 closed, assigned to martindstone

[2021-10-31 10:52] georgettica commented on #17
tried it now and it looks great!
[code]

[2021-11-03 21:21] sarman-tftsr opened #21 "Unable to update pagerduty-cli"
I have attempted to update pagerduty-cli a few times, and always end up with the following:
`16:07:08sarman@sarman-mbp.tftsr.com ttys002`
`Wed Nov 03 ~ >$`
`pd update`
`pagerduty-cli: Updating CLI... not updatable`
`16:07:13sarman@sarman-mbp.tftsr.com ttys002`
`Wed Nov 03 ~ >$`
`sudo pd update`
`Password:`
pagerduty-cli: Updating CLI... not updatable`
I have attempted to do this both with and with

[2021-11-12 15:43] martindstone commented on #21
Hi @sarman-tftsr , the builds of PD CLI that I distribute using the easy installer can self update, but the ones you install directly from npm can't. I should probably make that clearer in the user guide. If you want to update a PD CLI that you installed via `npm install -g pagerduty-cli` then you have to do something like `npm up -g pagerduty-cli`. Hope this helps; can you let me know if this res

[2021-11-12 19:38] sarman-tftsr commented on #21
Yes, I can update via npm without issue, it's just the command option of `pd update` wasn't working. If you were to add a note about it only working if you dated via your script, or doing a check to run the associated `npm up` option would be my only request.

[2021-11-22 16:30] gsreynolds opened #22 "pd service enable/disable commands do not respect -b, --useauth?"
When default auth token is one account but using `-b` or `--useauth` to use another account, service enable/disable commands will result in 404 as they are looking in the default account rather than the alias specified in `-b` or `--useauth`.

[code]

[2021-11-22 21:02] #22 closed

[2021-12-10 17:53] jdonnelly-apixio commented on #21
What channel should I specify to update?
[code]

I'm getting this warning:
[code]

And I have this installed:
[code]

[2021-12-10 19:44] martindstone commented on #21
Thanks @jdonnelly-apixio , I appreciate the feedback!! I will be curious to know whether the update command works now that you have effectively reinstalled?

[2021-12-13 12:08] martindstone commented on #16
Hey @ajohnson-pdt i put in a `user:delete` command... can you play around with it and let me know if that meets your needs? And if so, what other objects you would be interested in deleting like this?

[2022-01-18 14:08] sdenef-adeo opened #23 "Install via Homebrew"
Hi Martin,

I'm a MacOS user and find Homebrew useful to manage tools like pagerduty-cli.

It will be great to make it available via Homebrew. And don't know it can be done, but if it helps see [there](https://github.com/TomWright/dasel/issues/86).
It seems to include a way to publish new release via a Github Action.

Regards,
Sébastien

[2022-01-19 16:54] sdenef-adeo opened #24 "schedule:render date format"
Hello,

I tried to update all schedule spans over a timeslot. I used the `schedule:render` command to get the spans.

Example:
[code]

But as dates contain the comma character, it was a little bit hard to extract start/end values via the command line.

After removing the toLocaleString() call in schedule:render I was able to do this.

[code]

Maybe there is a better way to extract the value in bas

[2022-01-19 19:03] martindstone commented on #24
Hi @sdenef-adeo ,

So it's valid CSV that is being output but I know from direct personal experience that that is hard to deal with in bash, lol. With any of the other commands you would have been able to skip the date formatting by specifying the column manually with `-k`, but apparently i had not put that flag in the `schedule:render` command. I just published v0.0.83 which adds that flag to the

[2022-01-20 01:50] martindstone commented on #16
@ajohnson-pdt check out the new util:deleteresource command in 0.0.83 and let me know if that works for you?

[2022-01-20 08:55] sdenef-adeo commented on #24
Hi Martin,

Yes, it works well. Thanks.

I close the issue.

[2022-01-20 08:55] #24 closed

[2022-01-23 11:29] georgettica opened #25 "feat: pd incident:rename"
if you have a better way of getting the same goal. I would be glad to use that

I would love to have a way of changing the title of an incident
this is the way of team we easily label an incident, for and example:

[code]

as seen in https://developer.pagerduty.com/api-reference/b3A6Mjc0ODE0Mg-update-an-incident

[2022-01-23 15:32] jcalcada commented on #25
Hi there - although Martin doesn't have a "pd incident:set" option you can use the rest parameter to easily do it.  Try this...
pd rest:put -e https://api.pagerduty.com/incidents/YOURINCIDENT -d '{"incident": {"type": "incident","title": "NEW TITLE"}}'

[2022-01-23 15:37] georgettica commented on #25
yeah, I know the rest works, I guess I wanted to make this easier than the API call

thanks though!

[2022-01-23 15:38] georgettica commented on #25
I'll create a bash function that does this and note this issue..
if enough people will want it I guess we can push that change?

[2022-01-23 15:38] martindstone commented on #25
Thanks @jcalcada! that will definitely work (also, the https://api.pagerduty.com/ part isn't needed 😉) - I could do a dedicated incident:set command if that's helpful, there are a few things that can be set on incident besides the title, like the urgency etc...

[2022-01-23 18:58] sarman-tftsr commented on #25
This sounds like a great idea! We do the same things, especially when it’s a “known issue” we can’t fix right now. We use that to quickly merge cases based on our internal ticket numbers!

[2022-01-24 07:52] georgettica commented on #25
@sarman-tftsr I would suggest adding a 👍  to the issue, so we can track how many people want this feature

[2022-01-27 19:17] martindstone commented on #25
hi everyone, I just published v0.0.84 which adds:

  * `incident:set` (with alias `incident:update`) that you can use to set the title, urgency and a few other things on incidents
  * `incident:rename` that you can use to just set incident titles with a simpler set of flags

both commands take the usual incident selection arguments (`-i`, `-m`, `-p`) and can work on multiple incidents in one go. L

[2022-01-30 13:22] georgettica commented on #25
it does work, my use case and @jcalcada was to add a prefix,
my work now is to do a `rest:get` to get the incidents name

[2022-01-30 17:44] martindstone commented on #25
I thought about implementing it that way @georgettica but it would have to get every incident first so it would be more https requests... I was on the fence about it, now I think I want to do it 😂. I'll probably make that change tomorrow and push it as 0.0.85

[2022-01-30 19:40] georgettica commented on #25
I don't see an issue with having more requests if it minimizes users overhead

[2022-01-31 03:23] martindstone commented on #25
I am thinking to have a separate flag to prefix a given string to the existing title... later on maybe I will mess around with regexps too

[2022-01-31 07:18] georgettica commented on #25
I think an additional flag would be perfect

[2022-02-01 19:35] martindstone commented on #25
Hi so I just published 0.0.85 which adds the `--prefix` flag and just prepends the given string to the incident title... let me know how you make out with it...

[2022-02-02 10:41] georgettica opened #26 "add a `--max-responses` global field"
sometimes, our service is a bit bogged with details and I just need the header / the first few items.

[code]

could we add this
[code]

[2022-02-04 03:34] martindstone commented on #26
That sounds like a good idea, I'll do it

[2022-02-09 01:24] #25 closed

[2022-02-20 12:36] georgettica commented on #25
I tried it now at last and it works great, thanks!

[2022-03-15 03:58] notjames commented on #21
This is not working for me...
context: I'm running this from a pod/container installed in a cluster. The tests you see below are a local docker container I'm using for testing. Within this container pd version 0.0.85 is already installed. I'm attempting to upgrade it.

[code]

So as you can see, there's a conflicting error message here. On the one side, when I attempt to upgrade, it installs 0.0.8

[2022-04-25 14:58] georgettica commented on #26
any update?

[2022-04-27 14:28] georgettica commented on #26
I won't blame it, but I am glad to see you know it's there and have it somewhere on your roadmap

[2022-04-27 20:47] n8price opened #27 "Add/Remove Tags from a Resource"
It would be great to have the ability to remove a tag from all connected entities or added a tag to an entity.  Ideally I would love to be able to pipe a list of team resource ids to set or remove a tag.

[2022-05-11 12:34] sdenef-adeo opened #28 "schedule:render with schedule ID and name"
Hello,

I need to use `schedule:render` then use the result to join escalation policies, teams, or whatever.
I faced an issue because I'm not able to have the schedule ID and/or name. As far as I understand, the schedule:render command restrict data to the `schedule.final_schedule.rendered_schedule_entries` part.
I didn't find any way to add schedule ID and name to the ouput.

Any idea? Or is it a

[2022-05-18 16:27] martindstone commented on #26
hey @georgettica i finally got it implemented. Could you update to the RC (`pd update rc` to use the RC, `pd update stable` to go back to the stable version) and check it out? What I did was I added a `--limit` flag to all the `list` commands and to `rest fetch`. Let me know what you think.... thanks...

[2022-05-18 16:34] georgettica commented on #26
I logged of, but as I am so excited for this I am logging in to check this!

[2022-05-18 16:56] georgettica commented on #26
yes!
this is great :)

but I was not able to fully test this as the endpoint by default now cuts at 25 responses.
but if I set the --limit to be high it happens

[2022-05-18 16:57] georgettica commented on #26
as noted here https://github.com/martindstone/pagerduty-cli/blob/bf1eaf75471b1582cbe3aa79edfc0feee10b0fc4/src/pd.ts#L362

[2022-05-18 16:58] georgettica commented on #26
could I also get the `--all` field so I can choose when to limit it off and when to run wild?

most times I want this limit, but sometimes the `--all` is good for scraping

[2022-05-18 16:59] georgettica commented on #26
and once mentioned before, `pd update` doesn't work on `npm install -g pagerduty-cli`

[2022-05-18 17:01] martindstone commented on #21
Hi @notjames sorry for the delay in looking at this, GitHub releases is a possibility I would be interested in and I will look in to it. I have been changing the release process and it's sort of a mess so sorry for that. If you do the install again now it will install a proper "stable" release currently 0.1.0 and will get future updates from that channel. Or you should be able to say `pd update st

[2022-05-18 17:48] notjames commented on #21
OK, I ran the command you suggested but my current working machine is already at 0.1.0 so I'll have to check this when I build the container I was speaking about. I'll let you know.

[2022-05-18 18:10] martindstone commented on #16
Closing this as I believe it’s resolved as noted above

[2022-05-18 18:10] #16 closed

[2022-05-18 18:12] martindstone commented on #15
Looks like we did our best here but they are going a different direction… maybe there will be some improvements in @oclif/core or we could try to do some more sophisticated filtering on our own one day

[2022-05-18 18:12] #15 closed

[2022-05-18 18:24] georgettica commented on #15
It's more of "I didn't do the doc change they wanted and lost interest"
It's a fairly easy fix and  just didn't invest enough time on it.

Maybe someone later will do that

[2022-05-18 18:26] martindstone commented on #26
Oh yikes. That's a bug. Sorry, figuring it out now...

[2022-05-18 18:47] martindstone commented on #26
I found the problem, ugh sorry, my logic for checking whether we fetched past the fetch limit was slightly wrong... i am pushing 0.1.2 now... wish there was a way to mark a version as "bad"

[2022-05-18 19:09] martindstone commented on #26
Ok it's pushed. Can you try with 0.1.2 and let me know? Sorry for the screw up

[2022-05-18 19:40] martindstone commented on #28
Hi @sdenef-adeo , I guess I thought that since this command can only render one schedule at a time, nobody would need the id and the name because they would already have known it. But I sort of get what you are trying to do. How about if i add those values as extended columns that will be shown if you give the `-x` flag?

[2022-05-18 22:56] georgettica commented on #26
Sure, will do that tomorrow morning and let you know

[2022-05-19 07:48] georgettica commented on #26
yup, works as expected. without --limit it shows all
with --limit it shows what I wanted.

now for the next milestone we might allow --filter (count matching results)

[2022-05-19 15:01] martindstone commented on #26
So I would really like to be able to do that but sadly everything in --filter happens after the data is fetched... that's why I disable it when --limit is given, because the results in this case could lead the user to believe things that are not true... and the filtering options that you can give to the REST API are very few... so the best way to try to filter and limit will be to pass --limit to

[2022-05-19 15:43] martindstone commented on #27
Hi @n8price it makes sense. I have added some tag commands to v0.1.3 that I would like you to check out.  If you have a self-updatable installation of pd, you can do pd update rc to get it; if you installed using npm, something like npm i -g pagerduty-cli@0.1.3 should do the trick. The commands are tag:list, tag:assign and tag:listobjects. Tag:assign can add/remove multiple tags from multiple enti

[2022-05-20 07:48] sdenef-adeo commented on #28
Hi Martin,
I tested and it works well. Thank you.

[2022-05-20 11:28] georgettica commented on #26
If this can also be noted inside the upgrade command itself that would be super nice

And if we are talking about upgrades, I see there is a new version available in the CLI, but you mentioned it's not stable and shouldn't be upgraded automatically

[2022-05-20 16:29] martindstone commented on #28
Awesome. I will close this issue now. Thanks for reporting it!

[2022-05-20 16:29] #28 closed

[2022-05-20 16:32] martindstone commented on #26
Yeah i am going to promote 0.1.3 to stable soon, the most risky stuff in there is frankly what I did for this issue with the --limit flag; otherwise everything should be fine... the only changes from 0.1.2 to 0.1.3 are some added commands for working with tags...

[2022-05-27 16:47] wtsidney2016 opened #29 "Services:set alert_grouping_parameters"
Unable to enable Intelligent Alert Grouping using **pd services:set**

[code]

[2022-05-27 16:50] wtsidney2016 commented on #29
Would also like to be able to set **auto_pause_notifications_parameters** from pd service:set

[code]

[2022-05-27 16:53] wtsidney2016 commented on #21
[code]

[2022-05-31 05:31] notjames commented on #21
I am getting the same issue now since the latest version is 0.1.3.

[2022-06-02 15:27] tclayton-newr commented on #21
Echoing the above issue that @notjames is seeing. On Mac 12.4
I've attempting reinstalling the tool but getting the same issue.

[2022-07-08 13:06] sdenef-adeo commented on #29
Hello,

Same issue here

[code]

AFAIU it seems to be due to the data submitted towards the API. I can't find the right CLI syntax to have a JSON object, it's a string.

[code]

A workaround is to use the deprecated `alert_grouping` parameter.

[code]

Regards

[2022-07-08 13:16] sdenef-adeo commented on #21
FYI, my last update worked fine.

[code]

[code]

Hope it helps

[2022-07-08 14:40] tclayton-newr commented on #21
Trying it again, it works for me as well 😛

[code]

[code]

[2022-07-11 15:06] #21 closed

[2022-07-21 15:32] martindstone commented on #29
Sorry everyone, yes, as you have noticed, key paths and/or direct JSON is not supported by the `*:set` commands... the best current workaround is to use `rest put` instead, like this:

[code]

I will start thinking on how to make the `*:set` commands better for this sort of thing... I am thinking about two possible approaches --

- make the set commands accept key paths and/or JSON
- implement ded

[2022-07-22 16:07] wtsidney2016 commented on #29
Extending the :set command to accept json would be nice.

I was able to use use pd CLI to enable auto_pause - Thank You!

[2022-07-28 14:37] BillSidney opened #31 "Listing Services that have auto_pause_notifications_parameters enabled"
Want to get a list of services that have  auto_pause_notifications_parameters enabled.

 Had expected `service:list` would do this.

[code]

[2022-08-02 01:46] martindstone commented on #31
Hi, this will work in v0.1.5 now released as an RC, `pd update rc` to try it, `pd update stable` to switch back to 0.1.4... can you give it a try and let me know if it's resolved for you? Thanks

[2022-08-02 01:59] martindstone commented on #29
Hi, I added the ability to give JSON as the value; you can also give JSON dot path notation as the key; also you can give `-k` and `-v` multiple times (in order) to set multiple key/values at once. Example screenshot:

![image](https://user-images.githubusercontent.com/6219925/182275525-6d15fb5c-5471-4ece-b6ce-34f0000bd9ec.jpeg)

This is in v0.1.5, now released as an RC, `pd update rc` to try it,

[2022-08-02 02:03] #26 closed

[2022-08-02 02:03] martindstone commented on #26
Closing this as fixed...

[2022-08-02 09:19] sdenef-adeo commented on #29
Works fine for me.
Tested:
- set intelligent grouping
- set time-based grouping
- unset grouping
- few bad syntaxes (eg: 2 keys but only 1 value, ...)

[code]

[2022-08-02 18:02] martindstone commented on #29
Thank you @sdenef-adeo! I will be looking to close this issue and promote this build to stable soon.

[2022-08-27 20:12] BillSidney commented on #31
OUTSTANDING - That works Thank You!

[2022-08-27 20:12] #31 closed

[2022-08-30 14:02] martindstone commented on #29
Hi, I just promoted this build to stable so closing this issue...

[2022-08-31 20:53] zerolaser opened #34 "Alert Events API"
Please develop the event's API feature.

https://developer.pagerduty.com/docs/ZG9jOjExMDI5NTgx-sending-an-alert-event

Ability to Create an alert to any pagerduty service using routing key/integration key.

[2022-08-31 20:55] zerolaser opened #35 "Feature: Audit API"
Audit API is required to monitor pagerduty resources.
Key area of usage is to:

1.  generate compliance reports
2. Track when users are created/deleted.

[2022-09-08 00:01] zerolaser opened #36 "Missing: -j flag for pd schedule show"
Missing the json flag for pd schedule show.

pd schedule show -i PDXXXX -j
[code]

[2022-09-08 16:12] martindstone commented on #36
hi @zerolaser i had not done this because the output from `pd schedule show -i ${id} --since '3 days ago' -j` would be identical to the output from `pd rest get -e schedules/${id} -P $(pd util timestamp 3 days ago)` -- that said, it is an easy change and i will do it. Can you take a look at the output from `pd rest get` though and confirm that that is what you would be expecting to see?

[2022-09-08 16:25] martindstone commented on #35
Hi @zerolaser i will try and work on this.. in the meantime, `pd rest fetch` can fetch audit records and give you the results as tables; see the REST API reference for the endpoints, parameters and limitations, but here is an example getting one month (the maximum you are allowed to do in a single query) of user records, and displaying it as a table with some of the more relevant information:

`pd

[2022-09-08 16:28] martindstone commented on #34
Hi @zerolaser, this is something i originally personally thought might be nice but i was conflicted as it seemed too trivial, in other words i didn't see how `pd` could add any value above what you could do with `curl` - can you tell me more about how you would imagine this working and how you'd want to use it?

[2022-09-09 22:23] n8price commented on #27
Hey this is wonderful! Thanks so much. I'll check it out. Sorry for the delay in reply.

[2022-09-10 22:59] zerolaser commented on #35
@martindstone Thanks to your pagerduty-cli, Before this I used pdpyras to loop through pagination of results. With your pd-cli I can get all the results at once and then query further based on results. You just made my life simpler.

I currently use your cli for everything except to get this user create date/delete date and for that I'm depending on pdpyras.
These are following that I need to pass

[2022-09-10 23:40] zerolaser commented on #36
@martindstone Tweaked your command to add `since` to get the results.
`pd rest get -e schedules/${id} -P since=$(pd util timestamp 2022/09/05)` And yes this is what I'm expecting to see.

Could you add a few more examples of `pd rest` in readme.md, I dint know how to use it until your example command.

All I need from the above command is list of Users in that schedule and check if a schedule has

[2022-09-11 01:56] zerolaser commented on #34
Yeah! I understand the use-case for this is very trivial. We have a very special case to trigger an event against all the pagerduty services to Test Readiness of the teams before the holiday period.

We grab the integration key(one key at random) of each service and then run the `curl` command to trigger an event/incident against each service using that key.

[code]

[2022-09-13 16:24] martindstone commented on #36
Hi @zerolaser I will definitely do that, it's on my todo list to redo the wiki... if you want all users participating in a schedule, rather than just users who have an on call shift in the specified time range, it is a little different. Are you just looking for deleted users that are part of a schedule rotation? Or are you maybe looking for upcoming on call shifts that have a deleted user assigned

[2022-09-13 17:03] martindstone commented on #35
hi @zerolaser makes sense... take a look at the following simple Python script and let me know if it could be a good starting point:

[code]

Thanks...

[2022-09-14 18:43] martindstone commented on #34
Hi @zerolaser I had a few spare minutes so I made `pd event alert` to send an alert and `pd event change` to send a change event, and they actually came out pretty nice. They are in the RC I just published; you can use `pd update rc` to try it out, `pd update stable` if you need to go back to the old version... Let me know what you think, I will be promoting it to stable shortly.

[2022-09-14 20:22] martindstone commented on #36
Hi @zerolaser I was doing some other stuff and I went ahead and put in that `-j` flag to `schedule show` for you, it's in the 0.1.6 RC build, I will be promoting to stable soon

[2022-09-16 21:50] n8price commented on #27
This works great!  Would love the shim command like `team:tag:add` or `team:tag:remove` 🥇

[2022-09-23 20:18] akballow opened #37 "Warning: pagerduty-cli update available from 0.1.5 to 0.1.6"
when i do pd update i get
pagerduty-cli: Updating CLI... already on version 0.1.5-d5a33df

[2022-09-27 04:32] akballow commented on #37
Approaching 4 days an no comment???

[2022-09-28 00:27] martindstone commented on #37
Sorry @akballow this is not my day job. I will be promoting 0.1.6 to stable soon, until then you can `pd update rc` to use 0.1.6 and avoid the warning. Let me know if that forks for you.

[2022-09-30 12:43] martindstone commented on #37
0.1.6 is promoted to stable, you can `pd update stable` to go back to following stable releases. Please reopen if you have further issues.

[2022-09-30 12:43] #37 closed

[2022-09-30 12:45] martindstone commented on #36
Hi @zerolaser I have promoted 0.1.6 to stable, so I am going to close this issue now... Please reach out if you need anything else on this issue.

[2022-09-30 12:45] #36 closed

[2022-09-30 12:46] martindstone commented on #34
Hi @zerolaser I have promoted 0.1.6 with these additional commands to stable, so I am going to close this issue now... Please let me know if you need anything else related to this issue....

[2022-09-30 12:46] #34 closed

[2022-10-20 08:40] Matthew-Waterfield opened #40 "install.sh syntax error"
The install script returns an error

root: # sh -c "$(curl -sL https://raw.githubusercontent.com/martindstone/pagerduty-cli/master/install.sh)"
sh: line 6: [: missing `]'

Line
  if [ -e /usr/local/lib/pd -o -e /usr/local/bin/pd]; then
should be (space after pd before ]
  if [ -e /usr/local/lib/pd -o -e /usr/local/bin/pd ]; then

[2022-10-21 20:54] martindstone commented on #40
Whoops! Will fix ASAP

[2022-10-21 20:58] martindstone commented on #40
Ok @Matthew-Waterfield it’s fixed, sorry about that!

[2022-11-08 11:18] 825i commented on #40
You can close this ticket now.

[2022-11-08 11:39] 825i opened #41 "How to view timezones for schedules using cli?"
Hi,

I am trying to view the timezones for all the schedules that we have via the CLI.

We have about 600+ schedules and have recently discovered some of our timezones are incorrectly set. This means people are missing duties and incidents.

I can't see a way to check this information with the CLI. It's basically not included at all from what I can see. For schedules there is quite a lot of inform

[2022-11-08 11:45] 825i commented on #41
So far I can see this information if I do:

`pd schedule:show -i <schedule_id>`

![Screenshot 2022-11-08 at 13 43 25](https://user-images.githubusercontent.com/58630825/200555740-13a17995-9c18-43cd-a239-a74b00eff65d.png)

The problem with this, is that it only works for individual schedules. What if we have hundreds?

Secondly, it doesn't show me the exact UTC, like the above image in my first com

[2022-11-08 13:40] 825i commented on #41
Alright, well I made myself a solution. It's not perfect and it doesn't make me feel clean, but it works!

`pd schedule:list -j | egrep '\"(name|time_zone)\b.*$$' | awk '/name/ {print $0} /time_zone/ {print $0 "\n"}'`

results:

[code]

![gif](https://user-images.githubusercontent.com/58630825/200579674-8021f2bc-8aef-417d-abc0-53930c8372c8.gif)

Would still like to see this built into the CLI but

[2022-11-09 20:49] BillSidney opened #42 "paused_incident_reports/counts"
Not able to query the paused_incident_reports.  Looks like the query succeeds.

[code]

[code]

 Output with debug
[code]

[2022-11-09 20:56] martindstone commented on #42
hi @BillSidney , sorry for the confusion, paused_incident_reports/counts is not a "fetchable" endpoint (it doesnt return a paginated list of things); you'd want to use `pd rest get -e paused_incident_reports/counts -P "service_id=XXXXXX"` and optionally filter that through a JSON tool like jq or fx, for example `pd rest get -e paused_incident_reports/counts -P "service_id=XXXXXX" | fx .paused_inci

[2022-11-09 20:59] martindstone commented on #41
Hi @825i sorry for the delay, you can add columns to the output for any field that appears in the JSON that comes from the fetch. To see time zone in the tabular output from schedule list, you can do `pd schedule list -k time_zone`

Hope this helps, can you let me know if that resolves the issue for you?

[2022-11-09 21:00] #40 closed

[2022-11-09 21:00] BillSidney commented on #42
Thanks for the quick reply!  That solves my problem

[2022-11-09 21:01] martindstone commented on #42
Awesome glad to hear it @BillSidney I will close this issue now, thanks for reaching out

[2022-11-09 21:01] #42 closed

[2022-11-15 13:47] martindstone commented on #41
Hi @825i I am going to close this issue since I think the above should resolve the issue for you... let me know if you have any trouble...

[2022-11-15 13:47] #41 closed

[2022-11-21 13:00] 825i commented on #41
Hi mate, thanks for replying. Unfortunately in this case the columns are absolutely massive. As for a single schedule there may be over 100 users. So just one schedule displays 100 lines.

Would it be possible somehow to remove the other fields from the readout eg. Users, Escalation Policies etc. and just get:

* ID
* Name
* Time_zone

Here's an example of what I mean:

[code]

[2022-11-21 13:05] 825i commented on #41
Nvm I actually put my brain into gear and I see there is a way to filter columns, so:

[code]

I love you. This is absolutely amazing. No more piping everything through egrep and awk. Oh my g*d 👯

[2022-11-21 13:19] martindstone commented on #41
Great work, and thank you!

[2022-11-21 13:38] 825i opened #43 "Improve readability and simplify the -k flag"
So after learning, -k flag combined with --columns= are the two most useful tools in my arsenal.

The problem is that with --columns= I can do like:

`columns=id,name,description,summary,time_zone,html_url`

but with the -k flag, I need to do like:

`-k description -k summary -k time_zone -k html_url`

This means my final command looks like:

`pd schedule:list -k description -k summary -k time_zon

[2022-11-21 14:20] martindstone commented on #43
Hi @825i, this is something I have struggled with -- the reason why is partly dumb implementation details, because `-k` is a flag that I implemented and it has some more sophisticated functionality than `--columns`, which is a flag provided by the framework -- specifically, `-k` can take JSON paths, and lso you can add columns to the table using `-k`, then filter rows using `--filter`, then show o

[2022-11-23 18:11] galitz opened #44 "MS Defender exclusion"
Hi.  A recent install of the Win x64 version of this app triggered an EDR alert:

`"C:\WINDOWS\system32\cmd.exe" /C powershell -ExecutionPolicy Bypass -Command "& {Add-MpPreference -ExclusionPath "C:\Users\USER\AppData\Local\pagerduty-cli"}" -FFFeatureOff`

It appears to be trying to exclude itself from MS Defender.  Why is that?

[2022-11-23 21:57] martindstone commented on #44
Hi @galitz, I am not sure off hand; the .exe installer is generated by the oclif framework and I haven't looked into the specifics of how it makes the MSI. If in doubt, you could use `npm install -g pagerduty-cli` instead -- would that be ok?

[2022-11-28 21:26] BillSidney opened #46 "Incident Counts differ when using limit param on the incidents endpoint"
Using the `limit` query param with the incidents endpoint produces different results.

In hindsight ... I realized pd handles pagination and the limit param is not necessary - but was surprised by the results

[code]

output:
[code]

[2022-11-28 21:34] martindstone commented on #46
Hi @BillSidney I believe your goal is to limit the total number of incidents that can be fetched overall? If so, you want to use `--limit 1000`, not `-P limit=1000` which just passes that as a query param to the underlying HTTPS GET that is used by the fetch command. My bad, because I should not allow you to pass limit as a query param as it will mess up the pagination that fetch is doing. Can you

[2022-11-28 21:38] BillSidney commented on #46
`--limit` works as expected

[code]

[2022-11-29 05:06] martindstone commented on #46
Thanks @BillSidney, I will fix the validation on that flag